// Colors
$white: #fff;
$acua: #3ccfcf;
$blue: rgb(182,188,221);
$dark-blue: rgb(59,76,155);
$yellow: #ffcd1f;
$grey-lighter: #F8F8F8;
$grey: #ABABAB;
$black: #333333;

// Font-sizes
$font-size44: 44px;
$font-size32: 32px;
$font-size24: 24px;
$font-size20: 20px;
$font-size18: 18px;
$font-size16: 16px;
$font-size14: 14px;
$font-size12: 12px;
$font-size10: 10px;

// Heights
$header-height: 64px;