<app-header></app-header>

<div class="register">
  <form class="register__form" [formGroup]="registerForm" >
    <mat-card class="register__card">
      <mat-card-header>
        <mat-card-title>Sign Up Form</mat-card-title>
      </mat-card-header>
        <mat-form-field>
          <input matInput formControlName="firstName" placeholder="First Name" type="text">
          <mat-error *ngIf="registerForm.get('firstName').hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="registerForm.get('firstName').hasError('maxlength')">Should be lesd than 128 symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="lastName" placeholder="Last Name" type="text">
          <mat-error *ngIf="registerForm.get('lastName').hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="registerForm.get('lastName').hasError('maxlength')">Should be lesd than 128 symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="email" placeholder="Email" type="text">
          <mat-error *ngIf="registerForm.get('email').hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('email')">Email is not valid</mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('minlength')">Should be more than 8 symbols</mat-error>
          <mat-error *ngIf="registerForm.get('email').hasError('maxlength')">Should be lesd than 128 symbols</mat-error>
        </mat-form-field>
        <mat-form-field>
          <input matInput formControlName="password" placeholder="Password" type="password">
          <mat-error *ngIf="registerForm.get('password').hasError('required')">This field is required</mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('minlength')">Should be more than 8 symbols</mat-error>
          <mat-error *ngIf="registerForm.get('password').hasError('maxlength')">Should be lesd than 128 symbols</mat-error> 
        </mat-form-field>
        <button [disabled]="registerForm.invalid" class="register__button" (click)="registerUser()" mat-raised-button> Sign Up </button>
      </mat-card>
  </form>  
</div>